---
slug: course(/:id)
layout: modules/courses/courses
---
{% liquid
  function current_user = 'modules/user/lib/queries/user/current'

  unless current_user.id
    redirect_to '/user/login'
  endunless

  function can_view_all = 'modules/permission/lib/helpers/can_do', requester: current_user, do: 'courses.manage'

  if can_view_all
    assign status = '["published", "unpublished"]' | parse_json
  endif

  graphql modules = 'modules/courses/modules/search', withVideos: true, status: status

  if params.id
    graphql current_course = 'modules/courses/videos/find', id: params.id, status: status
    assign current_course = current_course.records.results.first
    unless current_course.status == 'published' or can_view_all
      redirect_to '/course'
    endunless
  endif
%}

<div class="courses">
  <div class="courses__content">
    {% if current_course != blank %}
      {% theme_render_rc 'components/atoms/heading', level: 3, tag: 'h1' content: current_course.title, classes: 'heading' %}

      <div class="video">
        <iframe
          class="video__iframe"
          src="https://www.youtube-nocookie.com/embed/{{ current_course.youtube_video_id }}"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>

      <div class="markdown-body container">
        {{ current_course.content | markdown }}
      </div>
    {% else %}
      <div class="container">[course/webinar intro copy]</div>
    {% endif %}
  </div>

  <nav class="courses__sidebar" data-nav-container>

    <ul class="module-list">
      {% for module in modules.records.results %}
        <li class="module-list__item">
          <h3 class="module-list__item-title" title="{{ module.description }}">{{ module.title }}</h3>
          <ul class="course-list">
            {% for course in module.videos %}
              <li class="course-list__item {% if course.id == current_course.id %}course-list__item--active{% endif %}">
                <a href="/course/{{ course.id }}">
                  <img
                    src="https://img.youtube.com/vi/{{ course.youtube_video_id }}/0.jpg"
                    class="course-list__image"
                    alt="{{ course.title }}"
                    loading="lazy"
                    width="160"
                    height="90"
                  >
                </a>
                <a href="/course/{{ course.id }}" class="pos-clean course-list__title">
                  {{ course.title }}
                </a>
              </li>
            {% endfor %}
          </ul>

        </li>
      {% endfor %}

    </ul>

  </nav>
</div>
