---
slug: course(/:id)
layout: modules/courses/courses
---
{% liquid
  function current_user = 'modules/user/lib/queries/user/current'

  unless current_user.id
    redirect_to '/user/login'
  endunless

  graphql courses = 'modules/courses/courses/all'

  if params.id
    graphql current_course = 'modules/courses/courses/find', id: params.id

    if current_course.records.total_entries > 0
      assign current_course = current_course.records.results.first.properties | hash_merge: id: current_course.records.results.first.id
    endif
  endif
%}
<a href="/session/destroy">sign out</a>

{% liquid
  if current_course != blank
    theme_render_rc 'components/atoms/heading', level: 1, content: current_course.title, classes: 'heading'
  endif
%}

<div class="courses">
  <div class="courses__content">
    {% if current_course != blank %}
      <div class="video">
        <iframe class="video__iframe" src="https://www.youtube-nocookie.com/embed/{{ current_course.youtube_video_id }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>

      <div class="markdown-body">
        {{ current_course.content | markdown }}
      </div>
    {% endif %}
  </div>

  <nav class="courses__sidebar">
    <ul class="course-list">
      {% for course in courses.records.results %}
        <li class="course-list__item">
          <a href="/course/{{ course.id }}">
            <img
                src="https://img.youtube.com/vi/{{ course.youtube_video_id }}/0.jpg"
                class="course-list__image"
                alt="{{ course.title }}"
                loading="eager"
                width="168"
                height="94"
            />
          </a>
          <a href="/course/{{ course.id }}">
            {{ course.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>


</div>
