<div class="p-8">
  <h1 class="text-xl font-bold pb-6">Modules</h1>

  <div class="relative overflow-x-auto">
    <div class="flex justify-end pb-8">
      {% theme_render_rc 'components/atoms/button', content: 'Create new', variant: 'confirmation', href: '/admin/course/modules/create/' %}
    </div>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 ">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 ">
        <tr>
          <th scope="col" class="px-6 py-3">id</th>
          <th scope="col" class="px-6 py-3">title</th>
          <th scope="col" class="px-6 py-3">description</th>
          <th scope="col" class="px-6 py-3">total lessons</th>
          <th scope="col" class="px-6 py-3">action</th>
        </tr>
      </thead>
      <tbody>
        {% for module in modules.records.results %}
          <tr class="bg-white border-b">
            <td class="px-6 py-4">{{ module.id }}</td>
            <td class="px-6 py-4">{{ module.title }}</td>
            <td class="px-6 py-4">{{ module.description }}</td>
            <td class="px-6 py-4">{{ module.lessons.size }}</td>
            {% assign edit_url = '/admin/course/modules/edit/' | append: module.id %}
            <td class="px-6 py-4">
              {% theme_render_rc 'components/atoms/button', content: 'Edit', size: 'small', classes: 'w-24', href: edit_url %} <br><br>
              <form action="/api/admin/course/modules/delete" method="post">
                <input type="hidden" name="authenticity_token" value="{{ context.authenticity_token }}">
                <input type="hidden" name="id" value="{{ lesson.id }}">
                {% liquid
                  assign attributes = null | parse_json | hash_merge: onclick: 'confirmSubmit(event)'
                  theme_render_rc 'components/atoms/button', content: 'Delete', size: 'small', classes: 'w-24', type: 'submit', variant: 'important', attributes: attributes
                %}
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<script>
  function confirmSubmit(event) {
      // Display a confirmation dialog
      var isConfirmed = window.confirm("Are you sure you want to delete the module?");

      // If the user confirms, submit the form; otherwise, prevent form submission
      if (!isConfirmed) {
          event.preventDefault();
      }
  }
</script>
